
.header {
    padding: 50px, 100px;
    text-align: center;
    background: #999;
    font-family: sans-serif;
    font-size: 32px;
}

.main {
    background: lightgreen;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    font-size: 38px;
    padding: 100px;
}

.footer {
    background: slategrey;
    padding: 30px 100px;
    font-size: 32px;
    color: #fff;
    font-family: sans-serif;
    text-align: left;
}